.yhteydenotto label{
  display:block;
}
.yhteydenotto input[type="text"], yhteydenotto textarea{
  padding:10px;
  width:70%;}
}
.nappula{
  background-color:black;
  color:white;
  padding:10px;
  border:none;
}
.nappula:hover{
  background-color: royalblue;
  color: white;
}

.Laatikko{
  
  float: left;
  width: 25%;
  border:2px solid black;
  padding:10px;
  box-sizing: border-box;
  margin-top:25px
}
.Laatikko2{
  
  float: center;
  
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: dashed underline;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: dashed underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: dashed underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: dashed underline;
}
.lista{
  position: fixed;
  top:100px;
  right:0px;
}
.kelluva{
  background-color:black;
  color:white;
  padding:10px;
  border:none;
}
.lomake-alue{
  background-color: cyan;
  
}