



.Laatikko{
  float: left;
  width: 25%;
  border:2px solid black;
  padding:10px;
  box-sizing: border-box;
  margin-top:25px
}
.kelluva{
  background-color:black;
  color:white;
  padding:10px;
  border:none;
}
.lista{
  position: fixed;
  top:100px;
  right:0px;
}
.koulutus{
  margin-top:10px;
  border:1px #166807 solid;
  padding:20px;
  border-radius:20px;
}
.koulutus2{
  height: 200px;
  background-color: #cccccc;
  background-image: linear-gradient(red, yellow);
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: dashed underline;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: dashed underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: dashed underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: dashed underline;
}